.tabs {
  display: flex;
  gap: 6rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.tab {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #797981;
  cursor: pointer;
}
.main-container > div::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #97939e 0%, #4f4659 100%);
  margin-top: 10px;
}
.active-tab {
  color: #fff;
}
